<div class="container py-5">
    <h1>{{pageName}} works</h1>
    <button class="btn btn-new-secondary px-4 py-3 rounded-pill d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#sample-modal">
        <span class="material-icons-outlined me-2">takeout_dining</span>
        Activate modal 
    </button>
</div>

<div class="modal fade" id="sample-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Welcome to sample modal</h5>
                <button class="btn" data-bs-dismiss="modal">
                    X
                </button>
            </div>
            <div class="modal-body">
                <h1>I'm a modal</h1>
            </div>
            <div class="modal-footer">
                <button class="btn btn-new-secondary" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>